:host {
  display: block;

  .chart-container {
    aspect-ratio: 16 / 9;

    ngx-skeleton-loader {
      height: 100%;
    }
  }

  .legend-line {
    border-top-style: solid;
    border-top-width: 2px;
    display: inline-block;
    width: 1.5rem;
  }

  .legend-line-portfolio {
    border-color: #36cfcc;
  }

  .legend-line-benchmark {
    border-color: #3686cf;
    border-top-style: dashed;
  }
}
