:host {
  display: inline-flex;
  flex: 0 0 auto;

  .analytics-info-button {
    height: 2rem;
    line-height: 2rem;
    padding: 0;
    width: 2rem;
  }

  .analytics-info-content {
    line-height: 1.4;
    max-width: min(20rem, calc(100vw - 2rem));
    white-space: normal;
  }
}
